<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomViewRyan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88DCCA461E2F12720011449F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88DCCA5A1E2F12730011449F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88DCCA651E2F12730011449F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
